@using WebApiContact.ViewsModels;
@model IndexModel;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    @foreach (var item in Model.Contacts)
    {
        <p>@item.Name</p>
        <p>@item.PhoneMobile</p>
        <p>@item.ReservPhoneMobile</p>
        <p>@item.Email</p>
        <p>@item.ShortDescription</p>
    }
</div>
